HELP.md
!target/*.jar
target/
lib/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
**.icloud
**\ 2.*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Protocol Buffer Binary ###
/protoc-3.10.0-win64/

### Local File Repository ###
/repository/
